---
title: GitLab with Git Basics Training
suppress_header: true
description: "GitLab with Git Basics Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_basics" }
    .row
      .col-md-12
        %h2 Course Agenda
        .row
          .col-md-8.col-md-offset-1
            %table
              %thead
                %tr
                  %th Timeframe
                  %th Topic
              %tbody
                %tr
                  %td Morning
                  %td 
                    %ul
                      %li GitLab Overview
                      %li GitLab Components & Navigation
                      %li Git Basics
                %tr
                  %td Afternoon
                  %td 
                    %ul
                      %li Basic Code Creation in GitLab
                      %li CI/CD
                      %li Security Scanning and Reports
        = partial "includes/services/requirements", locals: { id: "training_sessions_basics" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_basics" }
        


